<a href="sessions/logout" id="logout">Logout</a>

<p>Name: Lauren Cohan</p>
<p>Amount Need:<b>$ 10, 000</b></p>
<p>Amount Raised: <b>$5, 000</b></p>

<h4>List of people who lend you money:</h4>
	<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Amount Lent</th>
			</tr>
			<tr class="for_border">
				<td>Marat</td>
				<td>maratigg@gmail.com</td>
				<td>$25</td>
			</tr>
			<tr class="for_border">
				<td>Erik</td>
				<td>erik@gmail.com</td>
				<td>$50</td>
			</tr>
	</table>